<page-title ng-if="layoutOptions.pageTitles" title="Thêm Sách" description="Thêm sách vào thư viện"></page-title>
<div class="row">
    <style type="text/css">
        .succspan {
            float: right;
            margin-right: 6px;
            margin-top: -22px;
            position: relative;
            z-index: 2;
            color: green;
        }
    </style>
    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-secondary" ng-click="save()" ng-disabled="bookform.$invalid">Lưu thông tin</button>
                <button class="btn btn-white" ng-click="clearform()" ng-disabled="bookform.$pristine">Reset Form</button>
                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <script type="text/javascript">
			jQuery(document).ready(function($)
			{
			    $(document).on('mouseenter', '#image', function (e, v) {
			        var valueOfTd = '/BookImage/' + $(this).find('td').eq(0).text();
			            $('#advancedDropzone').css("background-image", "url(" + valueOfTd + ")");
			            $('#advancedDropzone').css("background-size", "cover");
			            $('#advancedDropzone').css("color", "transparent");
			    });
			    $(document).on('mouseleave', '#image', function (e, v) {
			        $('#advancedDropzone').css("background", "#ededed");
			        $('#advancedDropzone').css("color", "#646565");
			    });
			    var check = 0;
				var i = 0,
					$example_dropzone_filetable = $("#example-dropzone-filetable"),
					example_dropzone = $("#advancedDropzone").dropzone({
					url: 'api/Book/PostBookImage',

					// Events
					addedfile: function(file)
					{
					    this.options.url = "api/Book/PostBookImage/" + $('#bookcode').val();
					    this.options.autoQueue = false;
					    this.options.autoProcessQueue = false;
					    if ($('#bookcode').val() == "") {
					        this.cancelUpload(file);
					        $('#error').text('Nhập mã sách trước khi upload ảnh');
					        return;
					    }
					    if (check == 1) {
					        return;
					    }

					    this.options.autoQueue = true;
					    this.options.autoProcessQueue = true;

						var size = parseInt(file.size/1024, 10);
						size = size < 1024 ? (size + " KB") : (parseInt(size / 1024, 10) + " MB");
						var filename = file.name.split(".").pop().toLowerCase();

						var $entry = $('<tr id="image">\
										<td>' + file.name + '.' + filename + '</td>\
										<td><div class="progress progress-striped"><div class="progress-bar progress-bar-warning"></div></div></td>\
										<td>'+size+'</td>\
										<td>Uploading...</td>\
									</tr>');

						$example_dropzone_filetable.find('tbody').append($entry);
						file.fileEntryTd = $entry;
						file.progressBar = $entry.find('.progress-bar');
					},

					uploadprogress: function(file, progress, bytesSent)
					{
					    $('#error').text('');
						file.progressBar.width(progress + '%');
					},

					success: function(file)
					{
					    $('#error').text('');
						file.fileEntryTd.find('td:last').html('<span class="text-success">Uploaded</span>');
						file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-success');
					},

					error: function(file)
					{
					    $('#error').text('');
					    if (file.status == "canceled") {
					        return;
					    }
					    console.log(file.xhr);
					    if (file.xhr.status == 406) {
					        check = 1;
					    }
					    file.fileEntryTd.find('td:last').html('<span class="text-danger">' + file.xhr.responseText + '</span>');
					    file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
					}
				});

				$("#advancedDropzone").css({
					minHeight: 200
				});

			});
                </script>

                <br />
                <div class="row">
                    <form role="form" name="bookform" class="form-horizontal" novalidate>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="bookcode">Mã sách </label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="bookcode" placeholder="Nhập mã sách" ng-model="bookCode" ng-blur="tabbedout(bookCode)" ng-required="true">
                                <span class="fa fa-check succspan" ng-show="checkhavebook == 1"></span>
                            </div>
                            <label class="col-sm-1 control-label" for="companypublish">Nhà phát hành</label>

                            <div class="col-sm-2">
                                <select class="form-control" name="data.company" ng-model="data.company" ng-required="true">
                                    <option ng-repeat="item in company" value="{{item}}" ng-selected="data.company == item">{{item}}</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label" for="Kind">Loại</label>

                            <div class="col-sm-5">
                                <select class="form-control" name="data.kind" ng-model="data.kind" ng-required="true">
                                    <option ng-repeat="item in kind" value="{{item}}" ng-selected="data.kind == item">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="bookname">Tên sách</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="data.bookname" id="bookname" ng-model="data.bookname" placeholder="Nhập tên sách" ng-required="true">
                            </div>
                            <label class="col-sm-1 control-label" for="language">Ngôn ngữ</label>

                            <div class="col-sm-5">
                                <select class="form-control" name="data.language" ng-model="data.language">
                                    <option ng-repeat="item in language" value="{{item}}" ng-selected="data.language == item" ng-required="true">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="author">Tác giả</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="author" name="data.author" ng-model="data.author" placeholder="Nhập tác giả" ng-required="true">
                            </div>
                            <label class="col-sm-1 control-label" for="category">Danh mục</label>

                            <div class="col-sm-5">
                                <select class="form-control" name="data.category" ng-model="data.category">
                                    <option ng-repeat="item in category" value="{{item}}" ng-selected="data.category == item" ng-required="true">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="price">Giá</label>

                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="price" name="data.price" ng-model="data.price" placeholder="Nhập giá" ng-required="true">
                            </div>

                            <label class="col-sm-1 control-label" for="yeahpublish">Ngày xuất bản</label>

                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" name="data.yeah" ng-model="data.yeah" data-format="D, dd MM yyyy" ng-required="true">

                                    <div class="input-group-addon">
                                        <a href=""><i class="linecons-calendar"></i></a>
                                    </div>
                                </div>
                            </div>

                            <label class="col-sm-1 control-label" for="yeahpublish">Người tạo</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="price" placeholder="Người tạo" ng-model="data.createby" ng-disabled="1">
                            </div>

                            <label class="col-sm-1 control-label" for="yeahpublish">Từ khóa</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="price" placeholder="Nhập từ khóa" ng-model="data.keyword" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 text-center">
                                <div id="advancedDropzone" class="droppable-area" ng-style=" previewImage != null ? {'background-image':'url(' + previewImage + ')', 'background-size' : 'cover', 'color' : 'transparent'} : {'background' : '#ededed' , 'color' : '#646565'}">
                                    Kéo file ảnh vào đây
                                </div>
                            </div>
                            <div class="col-sm-9" style="margin-top:20px">
                                <div id="error" class="text-danger"></div>
                                <table class="table table-bordered table-striped" id="example-dropzone-filetable">
                                    <thead>
                                        <tr>
                                            <th width="50%">Tên</th>
                                            <th width="20%">Tiến trình upload</th>
                                            <th>Kích cỡ</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="data.image.length == undefined">
                                            <td colspan="5">File bạn up load sẽ hiện ở đây</td>
                                        </tr>
                                        <tr ng-repeat="item in data.image" ng-mouseenter="setPreviewImage(item)" ng-mouseleave="setPreviewImage(item)">
                                            <td>{{item.Image1}}</td>
                                            <td><div class="progress progress-striped"><div class="progress-bar progress-bar-success"></div></div></td>
                                            <td>{{item.Size}}</td>
                                            <td>Đã lưu</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" role="form" style="margin-top:20px;background:#eee;">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea placeholder="Nhập nội dung giới thiệu sách" class="form-control wysihtml5" name="data.content" ng-model="data.content" data-stylesheet-url="assets/js/wysihtml5/lib/css/wysiwyg-color.css" id="sample_wysiwyg"></textarea>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>