

<page-title ng-if="layoutOptions.pageTitles" title="Xử lý yêu cầu mượn" description="Mã mượn : {{param}} "></page-title>

<script type="text/javascript">
	jQuery(document).ready(function($)
	{
		$(".multi-select").multiSelect({
			afterInit: function()
			{
				// Add alternative scrollbar to list
				this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
			},
			afterSelect: function()
			{
				// Update scrollbar size
				this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
			}
		});

		$(".selectboxit").selectBoxIt().on('open', function()
		{
			// Adding Custom Scrollbar
			$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
		});
	});
</script>
<style>
    .selected {
        background-color: #daf9b8 !important;
    }
</style>

<form role="forl" id="rootwizard" class="form-wizard validate" novalidate>

    <ul class="tabs">
        <li class="active">
            <a href="#fwv-1" target="_self" data-toggle="tab">
                Thông tin mượn
                <span>1</span>
            </a>
        </li>
        <li>
            <a href="#fwv-2" target="_self" data-toggle="tab">
                Xử lý
                <span>2</span>
            </a>
        </li>
        <li>
            <a href="#fwv-3" target="_self" data-toggle="tab">
                Xác nhận với người mượn
                <span>3</span>
            </a>
        </li>
    </ul>

    <div class="progress-indicator">
        <span></span>
    </div>

    <div class="tab-content no-margin">

        <!-- Tabs Content -->
        <div class="tab-pane with-bg active" id="fwv-1" ng-style=" listborrow[0].PendingStatusName == 'Từ chối' ? {'pointer-events' : 'none', 'opacity' : '0.5', 'background' : '#CCC'} : {'pointer-events' : 'auto', 'opacity' : '1.0', 'background' : '#FFF'}">

            <div class="row">

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img ng-src="{{infomation.Avartar}}" width="150" height="200" />
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-6" style="line-height:1.94141; border-right : 1px solid black;">
                            <label class="control-label">Tên: <span style="font-weight : bold">{{infomation.FullName}}</span></label><br />
                            <label class="control-label">Mã sinh viên: <span style="font-weight : bold">{{infomation.Identifier}}</span></label><br />
                            <label class="control-label">Công việc: <span style="font-weight : bold">{{infomation.JobName}}</span></label><br />
                            <label class="control-label">Hệ: <span style="font-weight : bold">{{infomation.TrainingSystem1}}</span></label><br />
                            <label class="control-label">Mã thẻ đọc: <span style="font-weight : bold">{{infomation.CardReaderCode}}</span></label><br />
                            <label class="control-label">Ngày mở thẻ: <span style="font-weight : bold">{{infomation.DateStart | date : "dd/MM/yyyy"}}</span></label><br />
                            <label class="control-label">Ngày hết hạn: <span style="font-weight : bold">{{infomation.DateExpried | date : "dd/MM/yyyy"}}</span></label><br />
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="1%" class="text-center">#</th>
                                <th width="20%">Mã sách</th>
                                <th width="50%">Tên sách</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="borrow in listborrow" ng-click="getbook(borrow.BookCode)" style="cursor: pointer" ng-class="{'selected' : borrow.BookCode == BookCodeSelected}">
                                <td>{{$index + 1}}</td>
                                <td>{{borrow.BookCode}}</td>
                                <td>{{borrow.BookName}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-8" style="line-height:2.54141;">
                            <label class="control-label">Tên sách: <span style="font-weight : bold">{{bookinfo.BookName}}</span></label><br />
                            <label class="control-label">Tác giả: <span style="font-weight : bold">{{bookinfo.Author}}</span></label><br />
                            <label class="control-label">Giá tiền: <span style="font-weight : bold">{{bookinfo.Price}} VNĐ</span></label><br />
                            <label class="control-label">Năm xuất bản: <span style="font-weight : bold">{{bookinfo.YearPublish | date : "yyyy"}}</span></label><br />
                            <label class="control-label">Danh mục: <span style="font-weight : bold">{{bookinfo.CategoryName}}</span></label><br />
                            <label class="control-label">Nhà xuất bản: <span style="font-weight : bold">{{bookinfo.CompanyName}}</span></label><br />
                            <label class="control-label" ng-show="bookinfo.Remaining <= 0"><span class="text-danger" style="font-weight : bold">(*) Sách này đã hết trong thư viện</span></label>
                        </div>
                        <div class="col-md-4" style="position: absolute;right: 0;bottom: 0;">
                            <button ng-show="listborrow[0].PendingStatusName == 'Đặt mượn' || listborrow[0].PendingStatusName == 'Đang xử lý' " class="btn btn-danger" style="margin-bottom: 0; position: absolute;right: -4px;bottom: -19px;" ng-click="openModal()">Từ chối</button>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="tab-pane with-bg" id="fwv-2" ng-style="listborrow[0].PendingStatusName == 'Từ chối' ? {'pointer-events' : 'none', 'opacity' : '0.5', 'background' : '#CCC'} : {'pointer-events' : 'auto', 'opacity' : '1.0', 'background' : '#FFF'}">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel-body">
                        <label class="col-sm-2 control-label">Thời gian đến nhận sách</label>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="linecons-clock"></i>
                                </div>
                                <input type="text" class="form-control timepicker" ng-model="timetoget" />
                            </div>
                        </div>
                        <button ng-show="listborrow[0].PendingStatusName == 'Đặt mượn' || listborrow[0].PendingStatusName == 'Đang xử lý' " style="float:right;" class="btn btn-danger" ng-click="openModal()">Từ chối</button>
                        <button ng-show="listborrow[0].PendingStatusName == 'Đặt mượn' || listborrow[0].PendingStatusName == 'Đang xử lý' " style="float:right;" class="btn btn-secondary" ng-click="accept()">Xác nhận mượn</button>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label" for="dateborrow">Ngày mượn</label>
                        <input type="text" class="form-control" id="dateborrow" ng-model="dateborrow">
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-2 control-label" for="dateexpried">Ngày trả</label>
                        <input type="text" class="form-control" id="dateexpried" ng-model="dateexpried">
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-pane with-bg" id="fwv-3" ng-style=" listborrow[0].PendingStatusName == 'Từ chối' ? {'pointer-events' : 'none', 'opacity' : '0.5', 'background' : '#CCC'} : {'pointer-events' : 'auto', 'opacity' : '1.0', 'background' : '#FFF'}">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Xác nhận thông tin thẻ</label>
                            <input type="checkbox" class="iswitch iswitch-turquoise">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Xác nhận đã giao sách</label>
                            <input type="checkbox" class="iswitch iswitch-turquoise">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Xác nhận thông tin phiếu mượn</label>
                            <input type="checkbox" class="iswitch iswitch-turquoise">
                        </div>
                    </div>
                    <div class="col-md-5" style="border : 1px solid black; padding : 1px;">
                        <div class="row">
                            <div class="col-md-7">
                                <span>THƯ VIỆN TRƯỜNG ĐẠI HỌC GTVT</span><br />
                                <span>Thành phố Hà Nội</span>
                            </div>
                            <div class="col-md-2" style="float:right;"><span>Số : ...</span></div>
                        </div>
                        <div class="row">
                            <h2 style="text-align:center">PHIẾU MƯỢN SÁCH</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>Mã thẻ : .........{{infomation.CardReaderCode}}..........</span> <span>Mã Phiếu: ......{{param}}.........................</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>Họ tên độc giả : ..........................{{infomation.FullName}}..............................................</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>Ngày sinh : ....................................................................................................</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>Địa chỉ : ....................................................................................................</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>Số ĐT : ....................................................................................................</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>Ngày mượn : .....................{{infomation.DateStart | date : "dd/MM/yyyy"}}.......................................................</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span>Ngày trả : .....................{{infomation.DateExpried | date : "dd/MM/yyyy"}}....................................</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="12%" class="text-center">Mã</th>
                                            <th width="50%">Tên sách</th>
                                            <th width="20%">Tác giả</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="borrow in listborrow">
                                            <td>{{borrow.BookCode}}</td>
                                            <td>{{borrow.BookName}}</td>
                                            <td>{{borrow.Author}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5" style="float:right;">
                                <span>Ngày.{{date}}.Tháng.{{month}}.Năm.{{year}}.</span><br />
                                <span>NV Quản lý : {{usermanage}}</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <!-- Tabs Pager -->

        <ul class="pager wizard">
            <li class="previous">
                <a href=""><i class="entypo-left-open"></i> Previous</a>
            </li>

            <li class="next">
                <a href="">Next <i class="entypo-right-open"></i></a>
            </li>
        </ul>

    </div>

</form>

<script type="text/ng-template" id="modal-confirm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Bạn muốn từ chối yêu cầu mượn này? Vui lòng nhập lý do</h4>
    </div>

    <div class="modal-body">
        <div class="form-group" ng-form name="myForm">
            <label class="control-label" for="reaSon">Lý do</label>
            <input name="reaSon" type="text" class="form-control" ng-model="bindTo" ng-required="true">
            <br />
            <span class="text-danger" ng-show="myForm.reaSon.$error.required">Nhập lý do!</span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Hủy</button>
        <button type="button" class="btn btn-info" ng-click="denided();" ng-disabled="myForm.reaSon.$error.required">Xác nhận</button>
    </div>
</script>
<style>
    body.modal-open .page-container {
        -webkit-filter: blur(2px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(2px);
    }
</style>