

<page-title ng-if="layoutOptions.pageTitles" title="Sách" description="Danh sách sách hiện có"></page-title>


<!-- Responsive Table -->
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-secondary" ui-sref="app.management.CUBook">Thêm sách</button>

                <div class="panel-options">

                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="" data-toggle="reload" ng-click="refresh()">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <table cellspacing="0" class="table table-small-font table-bordered table-striped" datatable="ng" dt-options="dtOptions" width="100%;">
                    <thead>
                        <tr>
                            <th>Ảnh</th>
                            <th data-priority="1">Mã Sách</th>
                            <th data-priority="3">Tên Sách</th>
                            <th data-priority="1">Tác giả</th>
                            <th data-priority="3">Danh mục</th>
                            <th data-priority="3">Giá</th>
                            <th data-priority="6">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="book in listbook">
                            <td><img style="height: 10%;" ng-src="{{book.Image}}" /></td>
                            <td>{{book.BookCode}}</td>
                            <td>{{book.BookName}}</td>
                            <td>{{book.Author}}</td>
                            <td>{{book.CategoryName}}</td>
                            <td>{{book.Price}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn" ng-click="editRow(book);"><i class="glyphicon glyphicon-pencil"></i></button>
                                    <button type="button" class="btn btn-default btn" ng-click="deleteRow(book);"><i class="glyphicon glyphicon-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>